body {
  font-style: Garamond, Helvetica, Arial, sans-serif;
}

textarea {
	font: 12px Arial, sans-serif;
	margin: 1.0em;
	border: 3px solid #cccccc;
	width: 550px;
	height: 175px;
}

a {
  color: #900;
  text-decoration: none;
}
a:hover {
  color: red;
  position: relative;
}
a[title1]:hover:after {
  content: attr(title1);
  padding: 4px 8px;
  padding: 4px 8px 4px 37px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-color:#000;
}

h1 {
  color: #6899ce; 
  font: 18px "Lucida Grande", Arial; 
  margin-left: 10px; 
}

.symbol {
  font-size: 3em;
  border-radius: 5px;
  border: 1px solid #cccccc;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 2px;
  text-align: center;

}